body{
    width: 100%;
    margin: 0;
    padding: 0;
}
/* 背景画像の調整 */
.game_background{
    position: relative;
    background-image: url(../photo/lost-places-1549096.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100Vh;
}
.game_background::before{
    content: '';
    display: block;
    padding-top: 50%;
}
.qizbox{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0; 
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}
li {
  list-style: none;
}

button{
    font-size: 16px;
    margin-bottom: 10px;
    outline: none;
    background: none;
    color: #fff;
    text-align: left;
    display: inline-block;
}

button:hover{
    color: firebrick;
    font-weight: bold;
}

#result_discription{
    text-align: left;
}
.what_qiz{
    color: firebrick;
}

.next{
  font-size: 24px;
  text-decoration: underline;
}
.next:hover{
    color: firebrick;
    font-weight: bold;
}